<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>edit_contact</h1>
    {% include  'message.html' %}
    <form method="post">
        {% csrf_token %}
        
        <label for="name">name</label> <br>
        <input type="text" value="{{contact.name}}" name="name" placeholder="name"><br>

        <label for="age">age</label><br>
        <input type="text" value="{{contact.age}}" name="age" placeholder="age"><br>

        <label for="phone">phone</label><br>
        <input type="text" value="{{contact.phone}}" name="phone" placeholder="phone"><br>

        <label for="address">address</label><br>
        <input type="text" value="{{contact.address}}" name="address" placeholder="address"><br><br>
        
        <input type="submit" value="change">
    </form>
    
</body>
</html>