<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>management new project</h1>
    {% include  'message.html' %}
    <ul>
        {% for b in people %}
        <li>{{b}}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for d in my_list %}
        <li>{{d}}</li>
        {% endfor %}
    </ul>
<a href="{% url 'contact' %}">go to contact page</a>
</body>
</html>